<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <header>
            {{>header}}

        </header>
        
        <h1>{{errorText}}
        </h1>
        <footer>
            {{>footer}}

        </footer>
        
    </body>
</html>