<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <header>
        {{>header}}</header>
        <h3>{{helpText}}
        </h3>
        <footer>
        {{>footer}}
        </footer>
        
    </body>
</html>